
body{
   scroll-behavior: smooth;
   text-align:center;
   align-items:center;
   font-family: 'Architects Daughter', cursive;
   background-image:url("crumpled-paper2.jpg");
   background-size: cover;
   background-repeat: none;
   padding-top:1em;
   display: flex;
   flex-direction: column;
 
}

#title {
  font-size:3em;
  position: relative;
  left: 0.25em;
}

#sub-title {
  color: gray;
  font-size: 1.5em;
}

#buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  list-style-type: none;
  
} 

#buttons button {
border:none;
background-color: inherit;
padding-left:2.5em;
padding-right:2.5em;
padding-bottom:0em;
padding-top:1.75em;
opacity: 0.8;
justify-content: center;
align-items:center;
}

#buttons button img{
  border-radius:15%;
}

#grid {
padding-top:50px;
padding-bottom: 25px;
display:grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
max-width:750px;
grid-column-gap: 3em;
}

#user-choice, #user-score {
position: relative;
right:35px;
} 

#computer-choice, #computer-score {
  position: relative;
  left:25px;
}


footer { 
padding:0.4em;
font-size:18px;
overflow: hidden;
position: fixed;
left:0;
bottom:0;
background-color:rgb(196, 190, 190);
width:100%;
}

/* MQ-- PC */

@media screen and (min-width: 1024px){
#grid {
  padding-top:50px;
}
#grid  p {
  font-size:20px;
}
}

/* MQ--mobile portriat */

@media screen and (max-width: 480px){

body{
padding-top:0;
}

#grid {
  padding-top:50px;
  grid-template-columns: repeat (1, 1fr);
  grid-template-rows:auto;
  max-width:300px;
  grid-gap:auto;
}
#user-choice, #user-score {
position: relative;
right:15px;
} 

footer {
  position: relative;
  bottom:0;
  left:0;
  top:4px;
  font-size:14px;
}
} 
