
body{
   scroll-behavior: smooth;
   text-align:center;
   align-items:center;
   font-family: 'Architects Daughter', cursive;
   background-image:url("crumpled-paper.jpg");
}

#title {
  font-size:3em;
  position: relative;
  left: 0.25em;
}

#sub-title {
  color: gray;
  font-size: 1.5em;
}

#buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  list-style-type: none;
  
} 

#buttons button {
border:none;
background-color: inherit;
padding-left:2.5em;
padding-right:2.5em;
padding-bottom:0em;
padding-top:1.75em;
opacity: 0.8;
justify-content: center;
align-items:center;
}

#buttons button img{
  border-radius:15%;
}

#choices {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

#user-choice{
  text-align:none;
  
  position: relative;
  right:1.75em;
}

#comnputer-choice{

}

#scores  {
display:flex;
flex-wrap:wrap;
justify-content: center;
margin-left:2em;
padding-bottom:2em;
 color: gray;
  font-size: 1.2em;
  font-weight:bold;
  padding-top:1em;
}

#scores p {
text-align:center;
padding-left:2em;
padding-right:2em;
}

#user-score{
position: relative;
right:1em;
}

#computer-score{
position: relative;
left:2em;
}

/* MQ--mobile portriat */

@media screen and (max-width: 480px){

 #user-choice{
 position: relative;
 right:3em;
}

#computer-choice{
  position: relative;
  right: 1.75em;
}
#user-score{
  position: relative;
  right:2em;

}

#computer-score{
  position: relative;
  right:0;
  left:0;
}


}



/* footer */
footer{

padding:0.2em;

font-size:12px;
position:fixed;
left:0;
bottom:0;

   
background-color:rgb(196, 190, 190);

width:100%;



}

footer a{
  text-decoration:none;
  color:black;
}

@media screen and (min-width: 1024px){

}